
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


*{
    max-height: 1024px;
    font-family: "Manrope";
}

body {
    margin: 0;
    padding: 0;
  }
main{
    background-color: white ;
}  

.foto{
    width: 45rem;
    height: 65rem;
}
.logo{
    width: 8rem;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 300px;
}

.saudacao{
    margin-top: 7.5rem;
    margin-left: 10rem;
}
.saudacao h2{
    color: rgba(9, 9, 55, 0.6);
    font-size: 24px;
    font-weight: 600;
}
.saudacao h1{
    font-size: 32px;
    font-weight: 700;
    font-family: "Manrope";
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 400px;
    margin-left: 10rem;
    margin-top: 5rem;
    font-size: 20px; 
}
form span{
    color: rgb(144, 40, 40);
}
p{
font-size: 1.25rem;
}
input{
    width: 25rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgba(244, 244, 255, 1);
}
.botao1 button{
    width: 26rem;
    height: 2.75rem;
    padding: 0.62rem 1.25rem ;
    border: none;
    margin-top: 4rem;
    border-radius: 4px;
    background-color:#EF6B4A;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.botao2 button{
    width: 26rem;
    height: 2.75rem;
    padding: 0.62rem 1.25rem ;
    border: 2px solid brown;
    margin-top: 0.4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 4px;
    background-color:white;
    color:#EF6B4A;
    font-size: 1rem;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(161, 59, 33);
}

.capa{
    display: flex;

}